/* Estilização padrão da barra de navegação (ion-toolbar) */
ion-toolbar {
  --background: var(--ion-background-color-light);
  color: #000000;
}

/* Logo padrão no cabeçalho */
.logo-img {
  width: 32px;
  margin-left: 10px;
}

/* Botão do menu */
ion-menu-button {
  margin-right: 10px;
  color: black;
}

/* Título do cabeçalho */
.header-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  flex: 1;
}

/* Área do usuário no cabeçalho */
.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.user-name {
  font-weight: bold;
}

.user-role {
  font-size: 0.8rem;
  color: gray;
}

.user-icon {
  font-size: 40px;
  margin-right: 10px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.78);
}

.icon-mat {
  margin-right: 4px;
}

/* Responsividade */
@media (max-width: 768px) {
  #arrow_drop {
    display: none;
  }

  .logo-img {
    margin-left: 5px;
  }

  .header-title {
    font-size: 1.2rem;
  }

  .user-icon {
    font-size: 36px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .user-name {
    font-weight: bold;
  }

  .user-role {
    font-size: 0.7rem;
    color: gray;
  }

  .responsive-fab {
    display: block;
  }

  .menu-trigger-button {
    display: none;
  }
}

/* Navbar padrão */
.menu-container {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Botões da navbar */
.btns-menu {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btns-menu:hover {
  color: #007bff;
}

.user-icon {
  margin-right: 5px;
}

/* Estilização para os ícones */
ion-icon {
  font-size: 20px;
}

/* Responsividade da Navbar */
@media (max-width: 900px) {
  .menu-container {
    display: none; /* Esconde a navbar em resoluções menores que 900px */
  }
}

/* Esconder o ícone de menu lateral em resoluções maiores que 900px */
@media (min-width: 901px) {
  ion-menu-button.menu.lateral {
    display: none; /* Esconde o botão do menu lateral acima de 900px */
  }
}
