<ion-header>
  <ion-toolbar>
    <ion-title>Editar treino</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
    <form [formGroup]="treinoForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-input label="Local" labelPlacement="floating" formControlName="local" placeholder="Informe o local" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Horário" labelPlacement="floating" formControlName="horario" placeholder="hh:mm" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Data" labelPlacement="floating" formControlName="data" presentation="date"></ion-input>
        </ion-item>  
      </ion-list>
      
        <h3 class="subtitulo">Selecionar Atletas</h3>
        <ion-list>
          <ion-item *ngFor="let atleta of atletas">
            <ion-checkbox
              [checked]="isAtletaSelecionado(atleta)"
              (ionChange)="toggleAtleta(atleta)"
            >{{ atleta.nome }}</ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-button expand="full" shape="round" type="submit">
          Atualizar
        </ion-button>
    </form>
</ion-content>
