ion-toolbar {
  --background: var(--ion-background-color-light);
  color: #000000;
}
ion-content {
  --background: var(--ion-background-color-light);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.btns-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  background: var(--ion-background-color-light);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.btns-menu ion-icon {
  font-size: 24px;
}

span {
  color: #000000;
  font-size: 1.2rem;
  text-decoration: none;
}

.user-icon {
  color: #000;
}

.logo-img {
  width: 32px;
  margin-left: 10px;
}

ion-menu-button {
  margin-right: 10px;
}

.header-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  flex: 1;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 40px;
  margin-right: 10px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.78);
}

.user-details {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.user-name {
  font-weight: bold;
}

.user-role {
  font-size: 0.8rem;
  color: gray;
}

.mat-menu:hover{
  background-color: rgba(42, 42, 42, 0.09);
}

@media (max-width: 768px) {
  ion-menu-button {
    display: none;
  }

  .header-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    flex: 1;
  }

  .user-icon {
    font-size: 40px;
    margin-right: 5px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.78);
  }

  .user-name {
    font-weight: bold;
  }

  .user-role {
    font-size: 0.7rem;
    color: gray;
  }
}
