<body>
<div class="background">
  <div class="container">
    <div id="logo">
      <img src="assets/HandMaxLogo.png" alt="HandMax Logo">
    </div>

    <ion-item class="custom-input">
      <ion-input labelPlacement="stacked" label="Email">
        <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="custom-input">
      <ion-input labelPlacement="stacked" label="Senha">
        <ion-icon slot="start" name="key" aria-hidden="true"></ion-icon>
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <ion-button shape="round">Entrar</ion-button>
  </div>
</div>
</body>
