<app-header></app-header>

<ion-content>
  <div class="header">
    <ion-button (click)="abrirModalCadastro()">Agendar Treino</ion-button>
  </div>

<div class="card-grid">
<ion-card *ngFor="let treino of treinos" class="card-item">
  <ion-card-header>
    <ion-card-title>Treino Agendado</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{treino.local}}
  </ion-card-content>
  <ion-card-content>
    {{treino.horario}}
  </ion-card-content>
  <ion-card-content>
    {{treino.data}}
  </ion-card-content>

  <div class="button-group">
    <ion-button fill="clear" (click)="editarTreino(treino)">
      <ion-icon slot="start" name="create-outline"></ion-icon>
    </ion-button>

  <ion-button fill="clear" color="danger" (click)="excluirTreino(treino)">
    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
  </ion-button>
  </div>
</ion-card>
</div>
</ion-content>
