<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <!-- Sidebar para editar notícia -->
      <ion-col size="3" class="sidebar">
        <div class="sidebar-content">
          <ion-title>Editar Notícia</ion-title>
          <div class="menu-option">
            <ion-button (click)="addTitle()" expand="block" fill="outline">
              <ion-icon name="text-outline" slot="start"></ion-icon>
              Adicionar Título
            </ion-button>
            <ion-button (click)="addImage()" expand="block" fill="outline">
              <ion-icon name="image-outline" slot="start"></ion-icon>
              Adicionar Imagem
            </ion-button>
            <ion-button (click)="addParagraph()" expand="block" fill="outline">
              <ion-icon name="document-text-outline" slot="start"></ion-icon>
              Adicionar Parágrafo
            </ion-button>
          </div>
          <ion-button (click)="previewNews()" expand="block" class="view-news-btn">
            Visualizar Notícia
          </ion-button>
        </div>
      </ion-col>

      <!-- Área de edição -->
      <ion-col size="9" class="main-content">
        <div class="news-preview">
          <h1 class="news-title">{{ news.titulo }}</h1>
          <input [(ngModel)]="news.titulo" placeholder="Digite o título" *ngIf="isTitleVisible" />
          <button (click)="removeTitle()" *ngIf="isTitleVisible">Remover Título</button>

          <div *ngFor="let entry of entryOrder; let i = index">
            <ng-container *ngIf="entry === 'image'">
              <div class="news-image">
                <img [src]="news.nomeImagem[i]" alt="Imagem da notícia" *ngIf="news.nomeImagem[i]" />
                <input [(ngModel)]="news.nomeImagem[i]" placeholder="URL da imagem" />
                <button (click)="removeImage(i)">Remover Imagem</button>
              </div>
            </ng-container>

            <ng-container *ngIf="entry === 'conteudo'">
              <div>
                <textarea [(ngModel)]="news.conteudo[i]" placeholder="Digite o parágrafo"></textarea>
                <button (click)="removeParagraph(i)">Remover Parágrafo</button>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="save-container">
          <ion-button (click)="updateNews()" expand="block" class="save-news-btn">Salvar Notícia</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
