<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Sidebar para ações -->
      <ion-col size="3" class="sidebar">
        <ion-title>Notícias Salvas</ion-title>
      </ion-col>

      <!-- Lista de notícias -->
      <ion-col size="9" class="main-content">
        <ion-list>
          <!-- Percorre a lista de notícias e exibe o título e o primeiro parágrafo -->
          <ion-item *ngFor="let news of newsList" (click)="editNews(news)">
            <ion-label>
              <h2>{{ news.title }}</h2>
              <p>{{ news.paragraphs[0] || 'Sem descrição disponível' }}</p> <!-- Exibindo o primeiro parágrafo -->
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
