<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Sidebar para criar notícia -->
      <ion-col size="3" class="sidebar">
        <div class="sidebar-content">
          <ion-title>Criar notícia</ion-title>
          <div class="menu-option">
            <ion-button (click)="addTitle()" expand="block" fill="outline">
              <ion-icon name="text-outline" slot="start"></ion-icon>
              Adicionar Título
            </ion-button>
            <ion-button (click)="addImage()" expand="block" fill="outline">
              <ion-icon name="image-outline" slot="start"></ion-icon>
              Adicionar Imagem
            </ion-button>
            <ion-button (click)="addParagraph()" expand="block" fill="outline">
              <ion-icon name="document-text-outline" slot="start"></ion-icon>
              Adicionar Parágrafo
            </ion-button>
          </div>
          <ion-button (click)="previewNews()" expand="block" class="view-news-btn">Visualizar notícias</ion-button>
        </div>
      </ion-col>

      <!-- Área de edição -->
      <ion-col size="9" class="main-content">
        <div class="news-preview">
          <!-- Título -->
          <h1 class="news-title">{{ news.titulo }}</h1>
          <input [(ngModel)]="news.titulo" placeholder="Digite o título" *ngIf="isTitleVisible" />
          <button (click)="removeTitle()" *ngIf="isTitleVisible">Remover Título</button>

          <!-- Conteúdo Dinâmico -->
          <div *ngFor="let entry of entryOrder; let i = index">
            <!-- Imagem -->
            <ng-container *ngIf="entry === 'image'">
              <div class="news-image">
                <img [src]="news.nomeImagens[i]" alt="Imagem da notícia" *ngIf="news.nomeImagens[i]" />
                <input [(ngModel)]="news.nomeImagens[i]" placeholder="URL da imagem" />
                <button (click)="removeImage(i)">Remover Imagem</button>
              </div>
            </ng-container>

            <!-- Parágrafo -->
            <ng-container *ngIf="entry === 'paragraph'">
              <div>
                <p class="news-paragraph">{{ news.conteudos[i] }}</p>
                <textarea [(ngModel)]="news.conteudos[i]" placeholder="Digite o parágrafo"></textarea>
                <button (click)="removeParagraph(i)">Remover Parágrafo</button>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- Botão de Salvar -->
        <div class="save-container">
          <ion-button (click)="saveNews()" expand="block" class="save-news-btn">Salvar Notícia</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
