<body>
  <div class="background">
    <div class="container">

      <ion-buttons class="back-button">
        <ion-button routerLink="/login">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <div id="logo">
        <img src="assets/HandMaxLogo.png" alt="HandMax Logo">
      </div>

      <h2>Esqueceu sua senha?</h2>
      <p>Digite seu e-mail para receber instruções sobre como redefinir sua senha.</p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <ion-item class="custom-input" [class.invalid]="isInvalid('email')">
          <ion-input labelPlacement="stacked" label="Email" formControlName="email">
            <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>
        <p *ngIf="isInvalid('email')" class="error-message">Por favor, insira um e-mail válido.</p>

        <ion-button shape="round" expand="full" type="submit" [disabled]="forgotPasswordForm.invalid">
          Enviar
        </ion-button>
      </form>
    </div>
  </div>

</body>
