<body>
  <div class="background">
    <div class="container">
      <div id="logo">
        <img src="assets/HandMaxLogo.png" alt="HandMax Logo">
      </div>

      <h2>Esqueceu sua senha?</h2>
      <p>Digite seu e-mail para receber instruções sobre como redefinir sua senha.</p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <ion-item class="custom-input" [class.invalid]="isInvalid('email')">
          <ion-input labelPlacement="stacked" label="Email" formControlName="email">
            <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>

        <!-- Mensagem de erro em vermelho -->
        <p *ngIf="isInvalid('email')" class="error-message">Por favor, insira um e-mail válido.</p>

        <ion-button shape="round" expand="full" type="submit" [disabled]="forgotPasswordForm.invalid">
          Enviar
        </ion-button>
      </form>
    </div>
  </div>

  <style>
    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }

    .invalid {
      --ion-color-danger: red;
      --ion-item-background: #ffe6e6;
    }
  </style>
</body>
