<body>
  <div class="background">
    <div class="container">
      <div id="logo">
        <img src="assets/HandMaxLogo.png" alt="HandMax Logo">
      </div>

      <h2>Esqueceu sua senha?</h2>
      <p>Digite seu e-mail para receber instruções sobre como redefinir sua senha.</p>

      <ion-item class="custom-input">
        <ion-input labelPlacement="stacked" label="Email">
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-button shape="round">Enviar</ion-button>
    </div>
  </div>
</body>
