body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, yellow 49%, transparent 49%, transparent 51%, black 51%);
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-button ion-button {
  --background: none;
  --border-radius: 50%;
  --icon-size: 24px;
  --color: #000;
}

#logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

#logo img {
  width: 100px;
}

.custom-input {
  --background: #f9f9f9;
  --ion-color-primary: #000000;
  --ion-text-color: #333;
  --placeholder-color: #888;
  --ion-color: #000000;
  --highlight-color-focused: #333;
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  --border-radius: 18px;
}

h2 {
  font-size: 24px;
  margin-bottom: 1px;
  color: #000000;
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.invalid {
  --ion-color-danger: red;
  --ion-item-background: #ffe6e6;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  #logo img {
    width: 80px;
  }

  .back-button ion-button {
    --icon-size: 20px;
  }
}


@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  #logo img {
    width: 70px;
  }

  ion-button {
    width: 100%;
    font-size: 1rem;
  }

  .back-button ion-button {
    --icon-size: 20px;
  }
}
