/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
  --ion-background-color-light: #ffffff; /* Cor de fundo padrão clara */
  --ion-text-color: #000000;       /* Cor do texto padrão escura */
  --ion-color-primary: #f8dc02;    /* Cor principal */
  --ion-color-secondary: #fdfdfd;  /* Cor secundária */
  --ion-color-tertiary: #060706;   /* Cor terciária */
}

html.dark {
  --ion-background-color-dark: #000000; /* Cor de fundo escura */
  --ion-text-color: #ffffff;       /* Cor do texto clara */
  --ion-color-primary: #1e1e1e;    /* Cores escuras específicas */
  --ion-color-secondary: #3b3b3b;
  /* Defina outras variáveis para o tema escuro */
}
