<ion-header>
  <ion-toolbar>
    <ion-title>Novo treino</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
    <form [formGroup]="treinoForm" (ngSubmit)="onSubmit()">
      <ion-list [inset]="true">
        <ion-item>
          <ion-input
            label="Local" labelPlacement="floating"
            formControlName="local"
            placeholder="Informe o local"
            required
          ></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label>Data/Horário</ion-label>
          <ion-datetime-button datetime="datetime" formControlName="dataHorario"></ion-datetime-button>
                  <ion-datetime id="datetime" formControlName="dataHorario"></ion-datetime>
        </ion-item> -->
        <ion-item>
          <ion-input label="Data/Horário" labelPlacement="floating"
           matInput type="datetime-local" placeholder="start date" formControlName="dataHorario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-toggle formControlName="criarTreinoTodosAtletas">Criar treino com todos os atletas</ion-toggle>
        </ion-item>  
        <ion-item>
          <ion-select 
          label="Selecione as categorias"
          labelPlacement="floating"
          [multiple]="true"
          formControlName="listarCategorias">
            <ion-select-option *ngFor="let categoria of categoriasAtletas" [value]="categoria">
              {{ categoria.nome }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <!-- Campo Local -->
  
      <!-- Listar Atletas (Exibe somente se criarTreinoTodosAtletas for false) -->
      <div *ngIf="!treinoForm.get('criarTreinoTodosAtletas')?.value && (!treinoForm.get('listarCategorias')?.value || treinoForm.get('listarCategorias')?.value.length === 0)">
        <ion-list [inset]="true">
          <ion-list-header>
            <h3>Selecionar Atletas</h3>
          </ion-list-header>
          <ion-item *ngFor="let atleta of atletas">
            <ion-checkbox
              labelPlacement="start"
              [checked]="isAtletaSelecionado(atleta)"
              (ionChange)="toggleAtleta(atleta)"
            >{{ atleta.nome }}</ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
      <ion-button
      expand="block"
      type="submit"
      >
      <!-- [disabled]="treinoForm.invalid"  -->
        Cadastrar
      </ion-button>
    </form>
  </ion-content>