@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

body {
  background: black;
  font-family: "Exo", sans-serif;
}

span, a, h1, h2, h3, p {
  font-family: "Exo", sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
