<app-header></app-header>

<div class="profile-container">
  <!-- Ícone da foto centralizado -->
  <div class="photo-icon">
    <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
  </div>

  <!-- Nome da pessoa abaixo do ícone -->
  <h2>{{usuarioLogado?.login}}</h2>
</div>

<div class="container">
  <ion-item class="custom-input">
    <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
    <ion-input labelPlacement="stacked"
               label="Email"
               [value]="usuarioLogado?.email">
    </ion-input>
  </ion-item>

  <div class="button-container">
    <button mat-raised-button class="add-user-button full-width" (click)="abrirModalCadastro()">Adicionar novo usuário</button>
  </div>
</div>
