<app-header></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="background">
    <div class="container">
      <div id="logo"></div>

      <h2 class="titulo" style="margin-bottom: 20px">Cadastro Treino</h2>

      <ion-item class="custom-input">
        <ion-input
          labelPlacement="stacked"
          label="Local"
          required
          [(ngModel)]="treino.local"
        ></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-input
          labelPlacement="stacked"
          label="Horário"
          required
          [(ngModel)]="treino.horario"
          placeholder="hh:mm"
        ></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-input
          labelPlacement="stacked"
          label="Data"
          required
          [(ngModel)]="treino.data"
          placeholder="DD/MM/YYYY"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="full"
        shape="round"
        type="submit"
        (click)="onSubmit()"
      >
        Cadastrar
      </ion-button>
    </div>
  </div>
</ion-content>
